<?xml version="1.0" encoding="Windows-1252" standalone="no"?>
<Preciamolen.Indicator.Service>
  <Port>12010</Port>
  <Debug>
    <Port>12510</Port>
    <Address>127.0.0.244</Address>
  </Debug>
  <AutoRead>N</AutoRead>
  <Number_Of_Indicators>1</Number_Of_Indicators>
  <OutputPath>D:\GeneSYS 7\bin\debug\</OutputPath>
  <OutputFile>file.txt</OutputFile>
  <IPPORT_W>12600</IPPORT_W>
  <Indicator_0>
    <ID>01</ID>
    <PORT>COM4</PORT>
    <BAUD>9600</BAUD>
    <DATA>7</DATA>
    <PARITY>0</PARITY>
    <STOP>1</STOP>
    <IPPORT_R>0</IPPORT_R>
  </Indicator_0>
  <Indicator_1>
    <ID/>
    <PORT/>
    <BAUD>0</BAUD>
    <DATA>0</DATA>
    <PARITY>0</PARITY>
    <STOP>0</STOP>
    <IPPORT_R>0</IPPORT_R>
  </Indicator_1>
  <Indicator_2>
    <ID/>
    <PORT/>
    <BAUD>0</BAUD>
    <DATA>0</DATA>
    <PARITY>0</PARITY>
    <STOP>0</STOP>
    <IPPORT_R>0</IPPORT_R>
  </Indicator_2>
  <Indicator_3>
    <ID/>
    <PORT/>
    <BAUD>0</BAUD>
    <DATA>0</DATA>
    <PARITY>0</PARITY>
    <STOP>0</STOP>
    <IPPORT_R>0</IPPORT_R>
  </Indicator_3>
  <Indicator_4>
    <ID/>
    <PORT/>
    <BAUD>0</BAUD>
    <DATA>0</DATA>
    <PARITY>0</PARITY>
    <STOP>0</STOP>
    <IPPORT_R>0</IPPORT_R>
  </Indicator_4>
  <Indicator_5>
    <ID/>
    <PORT/>
    <BAUD>0</BAUD>
    <DATA>0</DATA>
    <PARITY>0</PARITY>
    <STOP>0</STOP>
    <IPPORT_R>0</IPPORT_R>
  </Indicator_5>
  <Indicator_6>
    <ID/>
    <PORT/>
    <BAUD>0</BAUD>
    <DATA>0</DATA>
    <PARITY>0</PARITY>
    <STOP>0</STOP>
    <IPPORT_R>0</IPPORT_R>
  </Indicator_6>
  <Indicator_7>
    <ID/>
    <PORT/>
    <BAUD>0</BAUD>
    <DATA>0</DATA>
    <PARITY>0</PARITY>
    <STOP>0</STOP>
    <IPPORT_R>0</IPPORT_R>
  </Indicator_7>
  <Indicator_8>
    <ID/>
    <PORT/>
    <BAUD>0</BAUD>
    <DATA>0</DATA>
    <PARITY>0</PARITY>
    <STOP>0</STOP>
    <IPPORT_R>0</IPPORT_R>
  </Indicator_8>
  <Indicator_9>
    <ID/>
    <PORT/>
    <BAUD>0</BAUD>
    <DATA>0</DATA>
    <PARITY>0</PARITY>
    <STOP>0</STOP>
    <IPPORT_R>0</IPPORT_R>
  </Indicator_9>
  <Indicator_10>
    <ID/>
    <PORT/>
    <BAUD>0</BAUD>
    <DATA>0</DATA>
    <PARITY>0</PARITY>
    <STOP>0</STOP>
    <IPPORT_R>0</IPPORT_R>
  </Indicator_10>
</Preciamolen.Indicator.Service>
