<?xml version="1.0" encoding="Windows-1252" standalone="no"?>
<Preciamolen.SMTP.Service>
  <Database>
    <Protocol>mssql</Protocol>
    <HostName>10.80.16.32</HostName>
    <Domain>PRECIAMOLEN</Domain>
    <Port>60134</Port>
    <Database>GENESYS7_WB_20180403d</Database>
    <Props>trusted=true</Props>
  </Database>
  <SMTP>
    <smtpHost>10.80.21.250</smtpHost>
    <smtpPort>25</smtpPort>
    <smtpAuthenticate>Y</smtpAuthenticate>
    <smtpUsername>svein.sandoy@preciamolen.co.uk</smtpUsername>
    <smtpPassword>Dunfermline1</smtpPassword>
    <SendPeriod>10000</SendPeriod>
  </SMTP>
</Preciamolen.SMTP.Service>
