<?xml version="1.0" encoding="Windows-1252" standalone="no"?>
<Preciamolen.ImpExp.Service>
  <Debug>
    <Port>12501</Port>
    <Address>127.0.0.245</Address>
  </Debug>
  <Global>
    <ComputerID/>
    <SiteID>DEFAULT</SiteID>
  </Global>
  <Database>
    <Protocol>mssql</Protocol>
    <HostName>LOCALHOST</HostName>
    <Instance>PRECIAMOLEN</Instance>
    <Port>60134</Port>
    <Database>GEN_EOSF</Database>
  </Database>
</Preciamolen.ImpExp.Service>
