<?xml version="1.0" encoding="Windows-1252" standalone="no"?>
<Preciamolen.GSM.Service>
  <Global>
    <AllowMultiInstance>FALSE</AllowMultiInstance>
    <SiteID>01</SiteID>
    <ComputerID>DEFAULT</ComputerID>
  </Global>
  <LogonAttempts>3</LogonAttempts>
  <Database>
    <ServerName>10.80.21.7</ServerName>
    <DatabaseName>GENESYS7_WB_20180626_2</DatabaseName>
    <DatabaseInstance>PRECIAMOLEN</DatabaseInstance>
    <DatabasePort>60134</DatabasePort>
    <DatabaseRecordLimit>-1</DatabaseRecordLimit>
    <UseCurrentProcessUser>FALSE</UseCurrentProcessUser>
    <CurrentProcessUser/>
  </Database>
  <Development>
    <Active>TRUE</Active>
    <SupressMsgEmptyGrid>TRUE</SupressMsgEmptyGrid>
    <SleepTimePreExecution>0</SleepTimePreExecution>
    <LogMaxLines>500</LogMaxLines>
  </Development>
  <Port>11000</Port>
  <Debug>
    <Port>12500</Port>
    <Address>127.0.0.242</Address>
  </Debug>
</Preciamolen.GSM.Service>
