<?xml version="1.0" encoding="Windows-1252" standalone="no"?>
<Preciamolen.ImpExpWBL.Service>
  <Debug>
    <Port>12502</Port>
    <Address>127.0.0.246</Address>
  </Debug>
  <Global>
    <ComputerID/>
    <SiteID>10</SiteID>
  </Global>
  <Database>
    <Protocol>mssql</Protocol>
    <HostName>10.80.16.32</HostName>
    <Instance>PRECIAMOLEN</Instance>
    <Port>60134</Port>
    <Database>GENESYS7_WB_20180531</Database>
  </Database>
</Preciamolen.ImpExpWBL.Service>
