<?xml version="1.0" encoding="windows-1256" standalone="no"?>
<Preciamolen.MODBUS.Service>
  <Settings>
    <LoopTime>5000</LoopTime>
    <SlaveID>1</SlaveID>
    <COMPort>COM5</COMPort>
    <SiteID>PIC</SiteID>
    <Bay1Name>5</Bay1Name>
    <Bay2Name>6</Bay2Name>
    <Bay3Name>7</Bay3Name>
    <Bay4Name>8</Bay4Name>
    <Bay5Name>4</Bay5Name>
    <EngageLoadStatus>16</EngageLoadStatus>
    <PCStatusTrigger>4</PCStatusTrigger>
    <LoadStatusChangeTo>17</LoadStatusChangeTo>
  </Settings>
  <Database>
    <AliasName>PMAPP2</AliasName>
    <DatabaseName>GEN_INOVYN</DatabaseName>
  </Database>
  <Debug>
    <Port>12501</Port>
    <Address>127.0.0.239</Address>
  </Debug>
</Preciamolen.MODBUS.Service>
